* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 

.col {
  /* background: salmon; */
  border:1px solid salmon;
  padding: 20px;
  margin: 1rem;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col:first-child {
  width: 60%;
}
.flex-grid-thirds .col:nth-child(2){
  width: 30%;
}

@media (max-width: 400px) { 
  .flex-grid-thirds {
    display: block;  
  }
}





